@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mukta&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #006eff;
}

.titulocreditos{
    margin: auto;
    text-align: center;
    margin-top: 50px;
    color: #fff;
    font-family:  'Roboto Condensed', sans-serif;
}

.textocreditos{
    margin: auto;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-family:  'Roboto Condensed', sans-serif;
}


#placeholder{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#placeholder img{
    width: 600px;
    height: 600px;
    margin: 30px;
    border: solid 5px #525252;
    border-radius: 100px; 
}

.titulotrabalho{
    color: #525252;
    margin-left: 20px;
    font-family:  'Roboto Condensed', sans-serif;
}

.header{
    text-align: center;
    color: #525252;
    background-color: #cecece;
}
.titulo{
    padding: 40px;
    font-size: 50px;
    font-family:  'Roboto Condensed', sans-serif;
}

.titulo2{
    padding: 40px;
    font-size: 50px;
    font-family:  'Roboto Condensed', sans-serif;
}

.container{
    background-color: #006eff;
    margin-bottom: 100px;
} 

.trabalho{
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 100px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #cecece;
    box-shadow: 5px 5px 50px #ffffff;
    font-family:  'Roboto Condensed', sans-serif;
}

.descricaotrabalho{
    margin-left: 50px;
    color: #525252;
    padding: 20px;
    padding-bottom: 50px;
    font-family:  'Roboto Condensed', sans-serif;
}

.perfil{
    background-color: #cecece;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 50px #ffffff;
    font-family:  'Roboto Condensed', sans-serif;
}

.banner{
    width: 100%;
    height: 190px;

}

.entrartrabalho{
    text-decoration: none;
    font-size: 30px;
    color: #0058ca;
    background-color: #dddddd;
    padding: 8px;
    border-radius: 20px;
    transition: 1s;
    margin-right: 80px;
    font-family:  'Roboto Condensed', sans-serif;
}

.entrartrabalho:hover{
    transition: 1s;
    color: #006cfa;
    background-color: #a3a3a3;
}
.descricao{
    color: #525252;
    font-size: 25px;
    margin-bottom: 10px;
    font-family:  'Roboto Condensed', sans-serif;
}

.voltar{
    padding-bottom: 10px;
    text-decoration: none;
    color: #000000;
    transition: 0.6s;
    font-family:  'Roboto Condensed', sans-serif;
    font-weight: 800;
}
.voltar:hover{
    color: #006cfa;
    transition: 0.6s;
}

.fotoperfil{
    width: 200px;
    position: absolute;
    margin-top: 50px;
    margin-left: -300px;
}

.perfilconteudo{
    width: 800px;
    margin-top: 40px;
    font-family:  'Roboto Condensed', sans-serif;
}

.meunome{
    margin-left: 100px;
    color: #525252;
    margin-top: 10px;
    font-family:  'Roboto Condensed', sans-serif;
}

.trabalhos{
    text-decoration: none;
    font-size: 30px;
    color: #0058ca;
    background-color: #dddddd;
    padding: 8px;
    border-radius: 20px;
    transition: 1s;
}

.trabalhos:hover{
    transition: 1s;
    color: #006cfa;
    background-color: #a3a3a3;
}

.link{
    text-decoration: none;
    color: #fff;
}

.creditos{
    text-decoration: none;
    font-size: 30px;
    color: #0058ca;
    background-color: #dddddd;
    padding: 8px;
    border-radius: 20px;
    transition: 1s;
    font-family:  'Roboto Condensed', sans-serif;
}

.creditos:hover{
    transition: 1s;
    color: #006cfa;
    background-color: #a3a3a3;
}



@media screen and (min-width: 3000px) and (max-width: 8180px){

    .titulo{
        font-size: 180px;
    }

    .fotoperfil{
        width: 600px;
        margin-left: -600px;
    }

    .meunome{
        margin-left: 900px;
        color: #525252;
        font-size: 90px;
    }

    .descricao{
        color: #525252;
        font-size: 100px;
        margin-bottom: 10px;
    }

    .perfilconteudo{
        width: 2000px;
        margin-top: 300px;
    }

    .perfil{
        height: 1300px;
    }

    .banner{
        width: 100%;
        height: 450px;
    }

    .trabalhos{
        font-size: 100px;
        padding: 9px;
    }
    
    .creditos{
        font-size: 100px;
        padding: 9px;
        margin: 15px;
    }

}

@media screen and (min-width: 1800px) and (max-width:3000px){

    .titulo{
        font-size: 120px;
    }
    .fotoperfil{
        width: 380px;
        margin-left: -470px;
    }

    .meunome{
        margin-left: 450px;
        color: #525252;
        font-size: 60px;
    }

    .descricao{
        color: #525252;
        font-size: 80px;
        margin-bottom: 10px;
    }

    .perfilconteudo{
        width: 1400px;
        margin-top: 200px;
    }

    .perfil{
        height: 1000px;
    }

    .banner{
        width: 100%;
        height: 290px;
    }

    .trabalhos{
        font-size: 50px;
        padding: 9px;
    }
    
    .creditos{
        font-size: 50px;
        padding: 9px;
    }

}

@media screen and (max-width: 900px){
    .fotoperfil{
        width: 200px;
        margin-left: -200px;
    }

    .meunome{
        margin-left: 240px;
        color: #525252;
    }

    .descricao{
        color: #525252;
        font-size: 25px;
        margin-bottom: 10px;
    }

    .perfilconteudo{
        width: 600px;
        margin-top: 40px;
    }

}

@media screen and (max-width: 690px){
    .fotoperfil{
        width: 180px;
        margin-left: -150px;
    }

    .meunome{
        margin-left: 280px;
        color: #525252;
        font-size: 20px;
    }

    .descricao{
        color: #525252;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .perfilconteudo{
        width: 500px;
        margin-top: 40px;
    }

    .trabalhos{
        font-size: 25px;
        padding: 8px;
    }
    
    .creditos{
        font-size: 25px;
        padding: 8px;
    }
}

@media screen and (max-width: 600px){
    .fotoperfil{
        width: 130px;
        margin-left: -110px;
        margin-top: 90px;
    }

    .meunome{
        margin-left: 220px;
        color: #525252;
        font-size: 18px;
    }

    .descricao{
        color: #525252;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .perfilconteudo{
        width: 350px;
        margin-top: 40px;
    }

    .trabalhos{
        font-size: 20px;
        padding: 6px;
    }
    
    .creditos{
        font-size: 20px;
        padding: 6px;
    }
}

@media screen and (max-width: 530px){
    .fotoperfil{
        width: 130px;
        margin-left: -160px;
        margin-top: 90px;
    }

    .meunome{
        margin-left: 120px;
        color: #525252;
        font-size: 18px;
    }

    .descricao{
        color: #525252;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .perfilconteudo{
        width: 340px;
        margin-top: 40px;
    }

    .trabalhos{
        font-size: 15px;
        padding: 4px;
    }
    
    .creditos{
        font-size: 15px;
        padding: 4px;
    }
}

@media screen and (max-width: 460px){
    .fotoperfil{
        width: 80px;
        margin-left: -110px;
        margin-top: 130px;
    }

    .meunome{
        margin-left: 150px;
        color: #525252;
        font-size: 15px;
    }

    .descricao{
        color: #525252;
        font-size: 17px;
        margin-bottom: 10px;
    }

    .perfilconteudo{
        width: 340px;
        margin-top: 40px;
    }

    .trabalhos{
        font-size: 15px;
        padding: 4px;
    }
    
    .creditos{
        font-size: 15px;
        padding: 4px;
    }

}




@media screen and (min-width: 3000px) and (max-width:8040px){
    .trabalho{
        width: 2000px;
        height: 400px;
    }

    .titulotrabalho{
        font-size: 80px;
        margin-left: 20px;
    }

    .entrartrabalho{
        padding: 5px;
        font-size: 80px;
    }

    .voltar{
        font-size: 60px;
    }

    .titulo2{
        font-size: 150px;
    }

}

@media screen and (min-width: 2000px) and (max-width: 3000px){
    .trabalho{
        width: 1200px;
        height: 250px;
    }

    .titulotrabalho{
        font-size: 40px;
        margin-left: 20px;
    }

    .entrartrabalho{
        padding: 5px;
        font-size: 50px;
    }

    .voltar{
        font-size: 40px;
    }

    .titulo2{
        font-size: 100px;
    }
}


@media screen and (max-width: 820px){
    .trabalho{
        width: 500px;
        height: 100px;
    }

    .titulotrabalho{
        font-size: 20px;
        margin-left: 20px;
    }

    .entrartrabalho{
        padding: 5px;
        border-radius: 20px;
        margin-right: 40px;
    }

}

@media screen and (max-width: 520px){
    .trabalho{
        width: 350px;
        height: 100px;
    }

    .titulotrabalho{
        font-size: 16px;
        margin-left: 20px;
    }

    .entrartrabalho{
        padding: 5px;
        font-size: 20px;
        margin-right: 20px;
    }
 
}

@media screen and (max-width: 400px){
    .trabalho{
        width: 270px;
        height: 100px;
    }

    .titulotrabalho{
        font-size: 12px;
        margin-left: 20px;
    }

    .entrartrabalho{
        padding: 5px;
        font-size: 15px;
        margin-right: 20px;
    } 
}


@media screen and (min-width: 3000px) and (max-width:8000px){
    #placeholder img{
        width: 1300px;
        height: 1300px;
    }

    .voltar{
        font-size: 100px;
    }
}

@media screen and (min-width: 2000px) and (max-width:3000px){
    #placeholder img{
        width: 900px;
        height: 900px;
    }
}

@media screen and (max-width: 670px){
    #placeholder img{
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 440px){
    #placeholder img{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 440px){
    #placeholder img{
        width: 200px;
        height: 200px;
    }
}




@media screen and (min-width: 3000px) and (max-width:8000px){
    .titulocreditos{
        font-size: 100px;
    }
    .textocreditos{
        font-size: 60px;
    }
}
@media screen and (min-width: 2200px) and (max-width:3000px){
    .titulocreditos{
        font-size: 50px;
    }
    .textocreditos{
        font-size: 30px;
    }
}
@media screen and (max-width: 400px) {
    .textocreditos{
        font-size: 15px;
    }
}
